# App artifacts
/_build
/db
/deps
/*.ez

# Used by Elixir-LS plugin
/.elixir_ls

# Generated on crash by the VM
erl_crash.dump

# Environment variables + other files
.DS_Store
.env

# npm/yarn logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Since we are building assets from web/static,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/priv/static/

# The directory NPM downloads your dependencies sources to.
node_modules/

# Since we use yarn over npm, we also ignore this.
package-lock.json

# Files matching config/*.secret.exs pattern contain sensitive
# data and you should not commit them into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets files as long as you replace their contents by environment
# variables.
/config/*.secret.exs
